.product-list__active-filter {
  min-height: 23px;
}

.active-filter__option {
  @include filter-active;
  margin-left: 5px;

  & + & {
    margin-left: 15px;
  }
}

.active-filter__clear-filter {
  margin-right: 5px;
  text-decoration: underline;
}
