// Product List Header
.product-list__header {
  border: $border;
  display: flex;
  text-align: center;


  a {
    flex-grow: 1;
    border-left: $border;
    padding: 10px 0;
  }

  > a:first-child {
    border-left: none;
  }

  > div {
    display: flex;
    flex-grow: 2;
  }
}

@media #{$topbar-media-query} {
  .product-list__header {
    display: block;
    padding: 0;
    text-align: left;

    a {
      border-left: none;
      flex-grow: 0;
      padding: 0;
    }

    > div {
      display: block;
    }

    .product-list__category--size {
      @include filter-status;
      border-right: $border;
      display: inline-block;
      margin-top: 2px;
      // Corisponds to the value in .product-list__categories
      padding: 6px 0 10px;
      text-align: center;
      width: 100px;
    }

    .product-list__sort {
      @include filter-status;
      border-left: $border;
      display: inline-block;
      margin-top: 2px;
      // Corisponds to the value in .product-list__categories
      padding: 6px 0 10px !important; // Override :list-child above.
      text-align: center;
      width: 100px;
    }

    .product-list__categories {
      @include space-around;
      display: inline-flex;
      // Corisponds to the value in .product-list__sort
      padding: 8px 0 12px;
      width: calc(100% - 100px);
    }

    .product-list__category--size + .product-list__categories {
      width: calc(100% - 200px);
    }
  }
}
