.product-list__sorts {
  @extend .filters;
}

.sorts__button {
  @extend .product-list__filter
}

@media #{$topbar-media-query} {
  .product-list__sorts {
    @include space-between;
    @include corner-outline($border-color);
    display: none;
    margin-top: 10px;
    padding: $column-gutter;

    &.opened {
      display: flex;
    }

    .product-list__filter {
      margin-left: 20px;
      padding: 0;

      &.active {
        margin-left: 0;
      }
    }
  }

  .sorts__category {
    @include space-around;
    flex-direction: column;
  }

  .sorts__button {
    display: block;

    & + & {
      margin-top: 8px;
    }
  }
}
