.product-list__sorts {
  @extend %space-between;
  @include corner-outline($border-color);
  margin-top: 10px;
  padding: $column-gutter;

  &.closed {
    display: none;
  }

  .product-list__filter {
    margin-left: 26px;

    &.active {
      margin-left: 0;
    }
  }
}

.sorts__category {
  @include space-around;
  flex-direction: column;
}

.sorts__button {
  display: block;

  & + & {
    margin-top: 8px;
  }
}
