.product-list__filter--tags {
  font-weight: $font-weight-bold;
  text-align: right;

  &.empty {
    display: none;
  }

  h3 {
    display: none;
  }

  .product-list__filter {
    display: block;
  }
}
