// Non-modular or client styles for .l-footer region.
.l-footer {
  background: $silver;
  border-bottom: $border;
  border-top: $border;
  margin-top: 20px;
  padding: 15px;

  .columns {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  .menu {
    @extend .inline-list;
    font-size: rem-calc(14);

    // Hide submenu in footer. More performant than adding another module.
    .menu {
      display: none;
    }
  }

  .block-title {
    @extend h6;
    margin-bottom: 15px;
  }
}

.copyright {
  font-weight: bold;
  font-size: rem-calc(11);
  padding: 5px 10px;
}
