// Non-modular or client styles for .l-header region.

.block-shopify-enhancements-currency {
  float: left;
}

.block-shopify-cart {
  float: right;
}

.block-block-4 {
  clear: both;
  cursor: pointer;
  max-height: 0;
  overflow: hidden;
  transition: 1s max-height;

  &:before {
    content: 'Show Message';
    display: 'block';
    left: calc(50% - 48px);
    position: absolute;
    top: 0;
  }

  &.show-message {
    max-height: 1000px;

    &:before {
      content: 'Hide Message';
    }
  }
}

@media #{$medium-up} {
  // Site message
  .block-block-4 {
    cursor: normal;
    position: absolute;
    text-align: center;
    height: 30px;
    width: 80%;
    overflow: hidden;
    margin: 0 10%;
    white-space: nowrap;
    z-index: -1;

    &:before {
      display: none;
    }

    > * {
      display: inline;
    }
  }
}
