// Non-modular or client styles for the .l-content region.
.l-main {
  margin-top: 42px;
  padding: 0 $page-gutter;
}

.breadcrumbs {
  margin-bottom: 0;
}

.node-title {
  .front & {
    display: none;
  }
}

.page-product-search #page-title {
  text-align: center;
}
