// @file
// Place your mixins here. Feel free to roll your own mixins.

// Flex prefix shortcut
// TODO: change flex stuff to mixins to for performance.
%flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

// Flex prefix shortcut
%space-between {
  @extend %flex-container;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@mixin space-between {
  @include flex-container;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

%space-around {
  @extend %flex-container;

  -webkit-justify-content: space-around;
  justify-content: space-around;
}

@mixin space-around {
  @include flex-container;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

// Adds borders that appear that only corners are outlined.
@mixin corner-outline($color, $length: 30px) {
  border: 1px solid $color;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: $length;
    right: $length;
    top: -1px;
    border-bottom: 1px solid $white;
    border-top: 1px solid $white;
    z-index: -2;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: $length;
    left: -1px;
    right: -1px;
    top: $length;
    border-left: 1px solid $white;
    border-right: 1px solid $white;
    z-index: -1;
  }
}

// Filter status.
// Some filters only use the active state.
@mixin filter-active($size: 27, $active-class: '.active') {
  line-height: rem-calc($size);

  "&#{$active-class}:after" {
    content: '+';
    display: inline-block;
    font-size: rem-calc(27);
    line-height: 1;
    margin-left: 7px;
    vertical-align: -#{($size/2)}%;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
}

@mixin filter-status($size: 27) {
  @include filter-active($size, '');

  &:after {
    // Override the default rotation.
    transform: translate3d(0, 0, 0) rotate(0);
  }

  &.active {
    span {
      border-bottom: 1px solid $monsoon;
      padding-bottom: 2px;
    }

    &:after {
      // Set it back.
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
  }
}

.corner-outline {
  @include corner-outline($border-color);
}

%share-bar {
  .a2a_kit {
    @extend %space-between;

    > div {
      display: none;
    }
  }
}
