.cart-button {
  cursor: pointer;
  font-size: rem-calc(21);
  line-height: 1;
  position: relative;

  .tooltip {
    max-width: none;
    text-transform: none;
    white-space: nowrap;
    width: auto;
  }
}

.cart-count {
  color: $white;
  font-size: 0.6em;
  left: 4px;
  position: absolute;
  top: 8px;
}

.cart-wrapper {
  align-items: center;
  background: #f9f9f9;
  display: none;
  font-size: rem-calc(18);
  margin: 0 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  &.opened {
    @extend %flex-container;
  }

  .admin-menu & {
    top: 30px;
  }
}

.cart__product {
  @extend %flex-container;
  align-items: center;
  border-bottom: $border;
  margin: 0 (-$column-gutter/4);
  padding: ($column-gutter/4);

  &:first-child {
    padding-top: 0;
  }
}

.cart__product-image img {
  height: 112px;
}

.cart__col--mid {
  @include grid-column(9);
}

.cart__col--right {
  text-align: right;
  padding-right: 1.25rem;
  flex-grow: 1;
}

.cart__buttons {
  margin-top: 15px;
  text-align: right;
}

.cart__checkout {
  margin-left: 10px;
}

.cart__quantity--add,
.cart__quantity--subtract {
  margin: 0 15px;
}

.cart__subtotal {
  margin-top: 5px;
  text-align: right;
}

.subtotal__label {
  padding-right: 20px;
}

.cart__checkout {
  background: $dark-grey;
  color: $white;
}
