.cart-button {
  cursor: pointer;
  display: block;
  font-size: rem-calc(21);
  margin-top: 1px;
  position: relative;

  .tooltip {
    max-width: none;
    text-transform: none;
    white-space: nowrap;
    width: auto;
  }
}

.cart-count {
  color: $white;
  font-size: rem-calc(11);
  line-height: 1.1;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 100%;
}

.cart-modal {
  background: rgba($silver, 0.8);
  height: 100%;
  left: 50%;
  padding: 30px 10px 10px;
  right: -50%;
  opacity: 1 !important;
  top: 0;
  transition: left .5s;

  &.open {
    left: 0;
    right: 0;
  }
}

@media #{$large-up} {
  .cart-modal {
    margin: 0 0 0 50%;
    padding: 30px 20px 20px;
    width: 50%;
  }
}

.cart__wrapper {
  @include flex-container;
  background: $white;
  border: $border;
  flex-direction: column;
  height: 100%;
}

.cart {
  @include flex-container;
  flex-grow: 1;

  > div {
    width: 100%;
  }
}

.cart__inner {
  @include flex-container;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cart__empty {
  @include flex-container;
  align-items: center;
  border-bottom: $border;
  flex-grow: 1;
  font-size: rem-calc(28);
  justify-content: center;
}

.cart__products {
  border-bottom: $border;
  font-size: rem-calc(14);
  flex-grow: 1;
  overflow: auto;
}

.cart__product {
  @include flex-container;
  align-items: center;
  border-bottom: $border;
  padding: ($column-gutter/4);
  position: relative;
}

.cart__col--left {
  @include grid-column(
    $columns: 3,
    $collapse: true
  );
  display: none;
  flex-grow: 1;
}

.cart__col--mid {
  flex-grow: 2;
}

.cart__col--right {
  display: flex;
  flex-direction: row;
  text-align: right;
  flex-grow: 1;
  // width: 25%;

  &__left {
    flex-grow: 1;
  }

  &__right {
    align-items: center;
    display: flex;
  }
}

.cart__remove {
  padding-left: ($column-gutter/2);
  position: absolute;
  right: 5px;
  top: 5px;
}

@media #{$medium-up} {
  .cart__col--left {
    display: block;
  }

  .cart__col--mid {
    @include grid-column(9);
  }

  .cart__remove {
    position: relative;
    right: 0;
    top: 0;
  }
}

.cart__quantity--add,
.cart__quantity--subtract {
  margin: 0 5px;
}

.cart__brand {
  font-size: rem-calc(17);
  font-weight: $font-weight-bold;
}

.cart__scale,
.cart__quantity {
  font-size: rem-calc(15);
}

.cart__price {
  white-space: nowrap;
}

.cart__subtotal {
  align-self: flex-end;
  margin-right: $column-gutter;
  margin-top: 5px;
  text-align: right;
}

.subtotal__label {
  padding-right: 20px;
}

.cart__buttons {
  align-self: flex-end;
  margin: 15px auto 0;
  text-align: right;
}

.cart__checkout {
  background: $dark-grey;
  color: $white;
  margin-left: 10px;
}

// Add to cart popup
.cart-add {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: -15px;
  top: 32px;
  transition: opacity 0.5s;
  width: 100vw;
  z-index: 100;

  &:before {
    border-color: transparent transparent $border-color transparent;
    border-style: solid;
    border-width: 0 7px 6px 7px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 26px;
    top: -5px;
    width: 0;
  }

  &:after {
    border-color: transparent transparent $silver transparent;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 28px;
    top: -4px;
    width: 0;
  }

  &:hover,
  &.opened {
    height: auto;
    overflow: visible;
    opacity: 1;
  }

  &__inner {
    background: $silver;
    border: $border;
    padding: 20px;
  }

  .cart__product {
    background: $white;
    border: $border;
  }

  &__message {
    background: $white;
    border-bottom: $border;
    border-left: $border;
    border-right: $border;
    font-size: rem-calc(14);
    padding: 5px 10px 10px;
    text-align: center;
  }
}

@media #{$large-up} {
  .cart__buttons {
    margin: 15px 20px 0 0;
  }

  .cart-add {
    width: 38vw;
  }
}
