.currency {
  height: 26px;
  line-height: rem-calc(18);
  overflow: hidden;
  text-transform: uppercase;

  &.active {
    .currency__active {
      height: 0;
    }
  }
}

.currency__active {
  height: 26px;
  overflow: hidden;
  transition: height .5s;
}

.currency__symbol {
  display: inline-block;
  font-size: rem-calc(18);
  font-weight: $font-weight-bold;
  margin-right: 5px;
  text-decoration: underline;
}

.currency__name {
  display: inline-block;
}

.currency__selection a {
  color: #9c9da0;
  display: inline-block;
  font-size: rem-calc(18);
  font-weight: $font-weight-bold;
  margin-right: 5px;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 2px 5px;

  &.active {
    border-color: #9c9da0;
  }
}
