%active-x {
  &:after {
    content: 'X';
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $font-weight-normal;
    margin-left: 10px;
  }
}

.filter-list,
.filter-options,
.active-filter {
  font-size: rem-calc(15);
  font-weight: $font-weight-light;

  a,
  a:hover {
    color: $monsoon;
  }
}

.active-filter {
  padding: 7px;

  &__option {
    @extend %active-x;
    margin-left: 20px;
  }
}

.clear-filters {
  text-decoration: underline;
}

.filter-list {
  border: $border;
  padding: 8px 0 12px;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.filter-list__category {
  &:after {
    // border-color: $monsoon transparent transparent transparent;
    // border-style: solid;
    // border-width: 8px 7px 0 7px;
    content: '+';
    display: inline-block;
    font-size: rem-calc(27);
    line-height: 1;
    // height: 0;
    margin-left: 7px;
    transition: transform .5s;
    vertical-align: -14%;
    // width: 0;
  }

  &.active:after {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
}

.filter-options.opened {
  @include corner-outline($border-color);
  @extend %space-around;
  margin-top: 10px;
  padding: 15px 20px;
}

.filter-options__option {
  position: relative;

  &.active {
    @extend %active-x;
  }
}

.filter-section.overflow {
  @extend %space-around;
  width: 100%;

  h3 {
    display: none;
  }
}

.sort-list {
  @extend .filter-list;
  margin-top: 10px;

  &.closed {
    display: none;
  }
}
