$marquee-gutter: ($column-gutter / 3);

.panel-pane .node-marquee {
  margin: 0 -30px;
}

.slide__wrapper {
  @include display(flex);
  @include flex-direction(row);
  padding-top: $marquee-gutter;
}

.slide__section {
  display: block;
  position: relative;
  will-change: transform;

  & + .slide__section {
    margin-left: $marquee-gutter;
  }
}

.section__title {
  font-size: rem-calc(30);
  font-weight: $font-weight-light;
  line-height: 1;
  position: absolute;
  left: $marquee-gutter;
  bottom: $marquee-gutter;

  .sections--small & {
    bottom: auto;
    top: $marquee-gutter;
  }
}

.flex-control-paging {
  bottom: auto;
  right: 25px;
  top: 20px;
  width: auto;

  li {
    display: block;
    margin: 0 0 14px;

    a {
      background: rgba(0, 0, 0, .3);

      &.flex-active {
        background: rgba(255, 255, 255, .9);
      }
    }
  }
}
