$admin-menu-height: 29px;

.top-bar-fixed {
  top: -($topbar-height);
  transition: top 0.3s;
  z-index: 100;

  &.visible {
    top: 0;

    body.admin-menu & {
      top: $admin-menu-height;
    }
  }

  body.admin-menu & {
    top: -($topbar-height);
  }
}

.top-bar {
  .logo {
    max-height: 40px;
    margin-bottom: 4px;
  }
}

.top-bar-section {
  .main-nav {
    text-align: center;

    li {
      border-top: $border;

      &.back {
        text-align: left;

        a {
          font-size: rem-calc(16);

          &:before {
            content: '\f053' !important;
            font: normal normal normal 14px / 1 FontAwesome;
            font-size: inherit;
            margin-right: 10px;
            margin-top: -4px !important;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }

    .red {
      color: $sale-red;
    }
  }

  .has-dropdown > a:after {
    content: '\f054' !important;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    margin-top: -4px !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  // Nested to override Foundation.
  .dropdown li.parent-link {
    display: none !important;
  }
}

.l-header-region {
  background: $white;
  border-bottom: $border;
  border-top: $border;
  padding: 0 $page-gutter;
  transition: top 0.3s;

  &.menu-visible {
    top: $topbar-height;

    body.admin-menu & {
      top: rem-calc($admin-menu-height) + $topbar-height;
    }
  }

  section {
    line-height: rem-calc(26);
  }
}

@media #{$topbar-media-query} {
  .top-bar-section {
    float: none;
    padding: 0 (($column-gutter/2) + $page-gutter - $topbar-link-padding);

    // Direct decendent to prevent dropdown issues.
    > .main-nav {
      @include space-between;

      .red {
        color: $sale-red;
      }

      li {
        border-top: none;
      }

      > li {
        flex-grow: 1;
        text-align: center;
      }
    }

    li.main-menu__home {
      background: $topbar-bg;
    }

    a.main-menu__home {
      background-image: url(../logo.png) !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      background-color: transparent !important;
      font-size: 0;
      height: 40px;
      width: 135px;
      margin: 5px auto 0;
    }

    .js-dropdown-products {
      background: $topbar-dropdown-bg;
      flex-grow: 1;
      position: relative;
      z-index: 1;
    }

    .product-container {
      float: left;
      padding: 15px 0;
      width: 33.3%;

      .product_thumb {
        padding: 0 10px;
        width: 100%;
      }

      & + & {
        margin-right: 0;
      }

      a {
        background: none !important;
        line-height: 1.7rem !important;
        padding: 0 !important;
      }
    }
  }

  .has-grandchild .product-container {
    width: 50%;
  }

  // Things specific to the first level dropdown.
  .main-nav > .has-dropdown {
    > .dropdown {
      border-top: $border;
      background: $topbar-dropdown-bg;
      width: 100vw;
    }
  }

  .top-bar-section .has-dropdown {
    position: inherit;

    > a {
      position: relative;
    }
  }


  .has-dropdown {
    // If a list of products is ever wanted uncomment this and delete the mentioned portion below.
    // .dropdown-inner {
    //   background: $topbar-dropdown-bg;
    //   column-count: 2;
    //   display: block;
    //   flex-shrink: 0;
    //   width: 50vw;
    // }
    //
    // &.has-grandchild .dropdown-inner {
    //   column-count: 1;

    //   > li {
    //     border-right: $border;
    //     float: none;
    //     width: 50%;
    //   }
    // }

    // Start delete
    .dropdown-inner {
      background: $topbar-dropdown-bg;
      border-right: $border;
      display: block;
      flex-shrink: 0;
      overflow: auto;
      width: 25vw;

      > li {
        float: none;
      }
    }

    &.has-grandchild > .dropdown {
      .dropdown-inner {
        width: 50%;
      }

      li {
        width: 50%;
      }

      &:before {
        display: block;
        content: '';
        border-left: $border;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25%;
      }
    }
    // End delete
  }

  // Override the Foundation settings.
  .top-bar-section .has-dropdown.hover > .dropdown,
  .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    border-bottom: $border;
    border-right: $border;
    display: flex;
    flex-direction: row;
    height: 25vw;

    a {
      line-height: 2.4;
    }
  }

  .top-bar-section .has-dropdown.hover > .dropdown .dropdown,
  .top-bar-section .has-dropdown.not-click:hover > .dropdown .dropdown {
    border-bottom: none;
    height: calc(100% - 10px);
    left: calc(25% + 1px) !important;
    top: 0;
    z-index: 0;

    .dropdown-inner {
      height: 100% !important;
      width: calc(25% - 1px);

      > li {
        border: none;
        width: 100%;
      }
    }
  }
  // End override.

  .top-bar {
    .title-area {
      display: none;
    }
  }

  .l-header-region {
    // Fixed class settings.
    width: 100vw;
    left: 0;
    position: fixed;
    top: -1px;
    z-index: 99;

    body.admin-menu & {
      top: $admin-menu-height;
    }
  }

  .top-bar-section .main-nav > .has-dropdown > a {
    padding-right: $topbar-link-padding !important;

    &:after {
      display: none;
    }
  }

  .top-bar-section .dropdown--scale.hover,
  .top-bar-section .dropdown--scale.not-click:hover {
    .dropdown {
      &:before {
        display: none;
      }
    }

    .dropdown-inner {
      border-right: none;
      display: flex;
      flex-direction: row;
      width: 100vw;

      .has-dropdown {
        border-right: $border;

        > a {
          font-size: rem-calc(18);
          font-weight: $font-weight-bold;
          text-align: left;

          &:after {
            display: none;
          }
        }

        &:hover {
          > a {
            background-color: $topbar-dropdown-bg;
            color: $topbar-link-color;
          }
        }
      }

      .dropdown {
        border-right: none;
        display: block;
        height: auto;
        position: relative !important;
        left: 0 !important;

        .dropdown-inner {
          display: block;
          width: auto;

          > li {
            float: left;
            margin-bottom: 10px;
            text-align: left;
            width: 50%;
          }
        }
      }
    }
  }
}
