$admin-menu-height: 29px;

.top-bar-fixed {
  top: -($topbar-height);
  transition: top 0.3s;
  z-index: 100;

  &.visible {
    top: 0;

    body.admin-menu & {
      top: $admin-menu-height;
    }
  }

  body.admin-menu & {
    top: -($topbar-height);
  }
}

.top-bar {
  .logo {
    max-height: 40px;
    margin-bottom: 4px;
  }
}

.top-bar-section {
  .main-nav {
    .red {
      color: $sale-red;
    }
  }

  // Nested to override Foundation.
  .dropdown li.parent-link a {
    display: none;
  }
}

.l-header-region {
  background: $white;
  margin-bottom: 5px;
  padding: 5px $page-gutter;
  transition: top 0.3s;

  &.menu-visible {
    top: $topbar-height;

    body.admin-menu & {
      top: rem-calc($admin-menu-height) + $topbar-height;
    }
  }

  section {
    line-height: rem-calc(26);
  }
}

@media #{$topbar-media-query} {
  .top-bar-section {
    float: none;
    padding: 0 (($column-gutter/2) + $page-gutter - $topbar-link-padding);

    // Direct decendent to prevent dropdown issues.
    > .main-nav {
      @include space-between;

      .red {
        color: $sale-red;
      }
    }

    li.main-menu__home {
      background: $topbar-bg;
    }

    a.main-menu__home {
      background-image: url(../logo.png) !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      font-size: 0;
      height: 40px;
      width: 135px;
      margin-top: 7px;
    }

    .js-dropdown-products {
      background: $topbar-dropdown-bg;
      position: relative;
      z-index: -1;
    }

    .product_thumb {
      float: right;
      padding: 15px 30px 15px 0;
      width: 49%;

      & + & {
        margin-left: 0;
      }

      a {
        background: none !important;
        line-height: 1.7rem !important;
        padding: 0 !important;
      }
    }
  }

  // Things specific to the first level dropdown.
  .main-nav > .has-dropdown > .dropdown {
    border-top: $border;
    background: $topbar-dropdown-bg;
    width: 100vw;
  }

  .top-bar-section .has-dropdown {
    position: inherit;

    > a {
      position: relative;
    }
  }


  .has-dropdown {
    .dropdown-inner {
      background: $topbar-dropdown-bg;
      border-right: $border;
      column-count: 2;
      display: block;
      flex-shrink: 0;
      margin: 5px 0;
      width: 50vw;
    }

    &.has-grandchild .dropdown-inner {
      column-count: 1;

      > li {
        border-right: $border;
        float: none;
        width: 50%;
      }
    }
  }

  // Override the Foundation settings.
  .top-bar-section .has-dropdown.hover > .dropdown,
  .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    display: flex;
    flex-direction: row;

    a {
      line-height: 2.4;
    }
  }

  .top-bar-section .has-dropdown.hover > .dropdown .dropdown,
  .top-bar-section .has-dropdown.not-click:hover > .dropdown .dropdown {
    height: calc(100% - 10px);
    left: 25vw !important;
    min-width: 25vw;
    top: 0;

    .dropdown-inner {
      height: 100% !important;
      column-count: 1;
      width: 100%;

      > li {
        border: none;
        width: 100%;
      }
    }
  }

  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    content: '\f054';
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    margin-top: -4px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  // End override.

  .top-bar {
    .title-area {
      display: none;
    }
  }

  .l-header-region {
    // Fixed class settings.
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;

    body.admin-menu & {
      top: $admin-menu-height;
    }
  }

  .top-bar-section .has-dropdown > a {
    padding-right: $topbar-link-padding !important;
  }
}

@media #{$large-up} {
  .has-dropdown {
    .dropdown-inner {
      column-count: 3;
    }
  }
}
