.newsletter {
  .form {
    position: relative;
  }

  .send {
    background: $primary-color;
    color: white;
    position: absolute;
    padding: 0.5125rem 1.325rem;

    & + input {
      margin-left: 58px;
      width: calc(100% - 60px);
    }
  }
}

@media #{$large-up} {
  .newsletter {
    // Move up compared to other footer blocks.
    margin-top: -7px;
  }
}
