$info-gutter: 3px;

.products_list {
  @include clearfix;
  font-size: rem-calc(13);
  font-weight: $font-weight-light;
  line-height: 1.7rem;
  margin-left: -($column-gutter / 2);
  margin-top: 15px;
}

.product_thumb {
  display: block;
  float: left;
  margin-bottom: 5px;
  padding-left: $column-gutter / 2;
  width: 25%;

  &__vendor,
  &__status,
  &__name {
    float:left;
  }

  &__name {
    max-width: 85%;
    line-height: 1.3rem;
    padding: 3px 0 4px;
  }

  &__size,
  &__price,
  &__actions {
    float: right;
    text-align: right;
  }

  &__actions {
    bottom: 0;
    font-size: rem-calc(16);
    position: absolute;
    right: 5px;

    a + a {
      margin-left: 10px;
    }
  }

  &__vendor {
    text-transform: uppercase;
  }

  &__info {
    @include clearfix;

    &.top {
      padding: 0 $info-gutter;
    }

    &.bottom {
      border-top: 1px solid $monsoon;
      padding: 0 $info-gutter;
    }

    &.on-hover {
      background: $white;
      border-top: 1px solid transparent;
      bottom: 0;
      height: 0;
      max-height: 0;
      overflow: hidden;
      padding: 0 $info-gutter;
      position: absolute;
      -webkit-transition: max-height 0.5s;
      transition: max-height 0.5s;
      width: 100%;
    }
  }

  &__image {
    overflow: hidden;
    position: relative;
  }

  &__image--hover {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__inner {
    border: 1px solid transparent;
    min-height: 0;
    overflow: hidden;
    position: relative;

    &:hover {
      border: $border;

      .product_thumb__image--hover {
        z-index: 1;
      }

      .on-hover {
        border-color: $monsoon;
        height: auto;
        max-height: 60px;
      }
    }
  }
}

.price__compare_at {
  padding-right: 8px;
  text-decoration: line-through;
}

.price--compare {
  color: $sale-red;
}
