.entity-shopify-product {
  .content {
    position: relative;
    // @extend %flex-container;
    // align-items: stretch;
  }
}

.product__ {
  &sidebar {
    padding-right: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;

    @extend %flex-container;
    flex-direction: column;
  }

  &product_type {
    float: left;
    font-size: rem-calc(25);
  }

  &size {
    float: right;
    font-size: rem-calc(15);
    line-height: 37px;
  }

  &title,
  &vendor {
    clear: both;
    color: $body-font-color;
    font-size: rem-calc(18);
    font-weight: $font-weight-normal;
    line-height: 1;
  }

  &tabs {
    @extend %space-between;

    border-top: $border;

    // list-style: none;
    min-height: 46px;
    margin: 18px 0 10px;
    padding: 10px 0;

    li a {
      border-bottom: 3px solid transparent;
      color: $monsoon;
      padding: 0 2px 7px;

      &.active {
        border-bottom: 3px solid $monsoon;
      }
    }

    i {

    }
  }

  &tab-content {
    border-bottom: $border;
    flex-grow: 1;
    overflow: auto;

    > div {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &bottom {
    min-height: 100px;
  }

  &status {
    font-size: rem-calc(17);
    float: left;
  }

  &price {
    font-size: rem-calc(20);
    text-align: right;
  }

  &add-to-cart {
    margin: 10px 0 6px;

    .shopify-price {
      display: none;
    }

    .form-wrapper {
      margin: 0;
    }

    button {
      line-height: 1;
      margin: 0;
      width: 100%;
    }
  }

  &share {
    @extend %share-bar;
    background: $monsoon;
    padding: 5px 30px 5px;
  }

  &images {
    .flexslider {
      border: none;
      margin-bottom: 0;
    }

    %controls {
      bottom: 0;
      height: auto;
      position: absolute;
      top: 0;
      width: 30%;
      z-index: 1;
    }

    .controls--prev {
      @extend %controls;
      cursor: w-resize;
      left: 0;
    }

    .controls--next {
      @extend %controls;
      cursor: e-resize;
      right: 0;
    }

    .controls--open {
      @extend %controls;
      left: 30%;
      right: 30%;
      cursor: zoom-in;
    }

    .flex-control-thumbs {
      margin-top: 10px;

      li {
        margin-right: 15px;
        width: auto;
      }

      img {
        height: 85px;
        width: auto;
      }
    }
  }
}

.image-modal {
  display: none;
  background: rgba(255, 255, 255, .8);
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  &.opened {
    display: block;
  }

  &__thumbnails {
    float: left;
    width: 150px;

    a {
      display: block;
    }
  }

  &__images {
    float: right;
    height: 100%;
    overflow: scroll;
    width: calc(100% - 150px);

    img {
      width: 100%;
    }
  }
}
