.entity-shopify-product {
  .content {
    position: relative;
    // @extend %flex-container;
    // align-items: stretch;
  }
}

.product__ {
  &sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;

    @extend %flex-container;
    flex-direction: column;
  }

  &product_type {
    float: left;
    font-size: rem-calc(25);
  }

  &size {
    float: right;
    line-height: 37px;
  }

  &title,
  &vendor {
    clear: both;
    color: $body-font-color;
    font-size: rem-calc(18);
    font-weight: $font-weight-normal;
    line-height: 1;
  }

  &tabs {
    @extend %space-between;

    border-top: $border;

    // list-style: none;
    min-height: 46px;
    margin: 18px 0 10px;
    padding: 10px 0;

    li a {
      border-bottom: 3px solid transparent;
      color: $monsoon;
      padding: 0 2px 7px;

      &.active {
        border-bottom: 3px solid $monsoon;
      }
    }

    i {

    }
  }

  &tab-content {
    border-bottom: $border;
    flex-grow: 1;
    margin-bottom: 5px;
    overflow: auto;

    > div {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &bottom {
    min-height: 100px;
  }

  &status {
    font-size: rem-calc(20);
    float: left;
  }

  &price {
    font-size: rem-calc(20);
    text-align: right;
  }

  &add-to-cart {
    margin-bottom: 6px;

    .shopify-price {
      display: none;
    }

    .form-wrapper {
      margin: 0;
    }

    button {
      line-height: 1;
      margin: 0;
      width: 100%;
    }
  }

  &share {
    @extend %share-bar;
    background: $monsoon;
    padding: 10px 30px 12px;
  }

  &images {
    .flexslider {
      border: none;
      margin-bottom: 0;
    }

    %controls {
      bottom: 0;
      height: auto;
      position: absolute;
      top: 0;
      width: 30%;
      z-index: 1;
    }

    .controls--prev {
      @extend %controls;
      cursor: w-resize;
      left: 0;
    }

    .controls--next {
      @extend %controls;
      cursor: e-resize;
      right: 0;
    }

    .flex-control-thumbs {
      margin-top: 10px;

      li {
        margin-right: 15px;
        width: auto;
      }

      img {
        height: 85px;
        width: auto;
      }
    }
  }
}