.block-shopify-enhancements-product-search {
  float: right;
  line-height: 1;
  margin-right: 20px;

  .form-item-term {
    display: inline-block;
    float: right;
    margin: 0 10px 0 0;
    overflow: hidden;
    transition: width 0.5s;
    width: 0;

    input {
      border-width: 0 0 1px;
      box-shadow: none;
      height: 1.5rem;
      margin-bottom: 0;
      padding: 0;
    }
  }

  .button--search {
    border-left: $border;
    cursor: pointer;
    float: right;
    font-size: rem-calc(20);
    padding-left: 15px;
  }

  .opened {
    .form-item-term {
      width: calc(100% - 50px);
    }
  }
}
