.block-shopify-enhancements-product-search {
  background: $white;
  float: right;
  line-height: 1;
  margin-right: 20px;
  position: absolute;
  right: 26px;
  transition: all 1s;
  width: 34px;
  z-index: 1;

  .form-item-term {
    display: inline-block;
    float: right;
    overflow: hidden;
    position: absolute;
    margin: 5px 25%;
    width: 0;

    input {
      background: none;
      border: none;
      box-shadow: none;
      display: inline-block;
      height: 1.5rem;
      margin-bottom: 0;
      margin-left: 10px;
      padding: 0;
      width: calc(100% - 25px);
    }
  }

  .button--search {
    border-left: $border;
    cursor: pointer;
    float: right;
    font-size: rem-calc(20);
    height: 37px;
    min-width: 46px;
    padding-left: 15px;
    text-align: right;
  }
  @include filter-active(31, '.opened .button--search');

  &.opened {
    width: calc(100% - 140px);

    .button--search {
      padding-left: 8px;

      i {
        display: none;
      }
    }

    .form-item-term {
      width: 50%;

      &:before {
        content: "\f002";
        font: normal normal normal 14px / 1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
