.section-brands .title {
  display: none;
}

.page-taxonomy-term {
  h1.title {
    text-align: center;
  }
}

.brand-info__title {
  text-align: center;

  &:after {
    line-height: 0.5;
  }

  &.expandable {
    @include filter-status(44);

    cursor: pointer;
  }

  .field {
    display: inline-block;
  }
}

.brand-info__inner {
  @include grid-column(
    $columns: 10,
    $offset: 1
  );

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;

  &.active {
    max-height: 1000px;
  }
}

.vocabulary-shopify-brands {
  .corner-outline {
    padding: 5px;
  }

  .field-name-field-brand-image {
    @include grid-column(
      $columns: 4,
      $collapse: true
    );

    img {
      padding-right: $column-gutter;
    }
  }

  .taxonomy-term-description {
    @include grid-column(
      $columns: 8,
      $collapse: true
    );

    margin-top: 0;
  }
}
